/*-----Reset----*/
:root{
    --background-cards : #062226;
/* --background-body: rgb(73, 221, 73);*/
    
}


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    /*background-color:var(--background-body);*/
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(https://images.alphacoders.com/876/876589.jpg);
    /*width: 100vw;*/
    /*height: 100vh;*/
    position:relative;
}

h2, h3, h4, p, ul{
    margin-top: 0;
    margin-bottom: 0;


}
.header.header{
    display: flex;
    justify-content: center;
    padding: 80px;
}

.header_title{
    display: block;
    margin: auto;
    width: 70%;
    padding: 50px;
}

img{
    display: block;
}
button{
    border-radius: 50px;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 30px;
    padding: auto;
}
#idLocation{
    max-width: 100%;
    border-radius: 10px;
    border: 10px;
    outline: none;
    font-size: 30px;

}

ul{
    padding-left: 0;
    list-style: none;
}

form{
    text-align: center;
    padding: 20px;

}
article{
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-align: center
}